/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/************************** Fonts Styles **************************/
/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),        
         url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-regular.woff') format('woff'), /* Modern Browsers */  }
 /* rubik-500 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/rubik-v21-latin-500.woff') format('woff'), /* Modern Browsers */
}

:root{
    --main-bg-color: #fff;
    --nav-text-color: #515151;
    --main-text-color: #202020;
    --news-time-text-color: #6B6D97;
    --popular-news-bg-color: #f6f6f9; 
    --footer-bg-color: #295093;
}

.container{
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* DRY - Don't repeat yourself! */
/* KISS - Keep it simple, stupid! */
/* YAGNI - Your aren't gonna need it! */
/* S - Single Responsibility */
/* O - Open / Closed */
/* L - Liskov Substitution */
/* I - Interface Segregation */
/* D - Dependecy Inversion */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;    
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body{
    font-family: "Rubik", "Arial", sans-serif;
    font-weight: 500;
}

ul{
    padding-left: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

/******************** Header styles start *******************/
.site-header{
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 18px;
    border-top: 4px solid var(--footer-bg-color);
}

.site-header__wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
}

.site-header__start{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-header__logo{
    display: block;
    margin-right: 17px;
    padding: 3px 6px 4px 8px;
    background-color: var(--main-bg-color);
    color: var(--footer-bg-color);
    -webkit-box-shadow: 0px 2px 6px #cacaca40;
            box-shadow: 0px 2px 6px #cacaca40;
    border-radius: 5px;
}

.currency-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 258px;
}

.currency-item{
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
}

.currency-symbol{
    font-weight: 700;
    color: var(--footer-bg-color);
}

.site-header__end{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.site-header__search{
    width: 38.1px;
    height: 40px;
    margin-right: 22px;
    background-color: var(--main-bg-color);
    background-image: url("../images/icons/search-icon.svg");
    background-position: center center;
    background-size: 17.5px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
}

.site-header__languages{
    margin-right: 23px;
    padding: 10px 8px 10px 11px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.site-header__languages-icon{
    border-radius: 50%;
}

.site-header__languages-text{
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}

.site-header__btn{
    padding: 10px 12px 10px 10px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15.07%, #1E96C8), color-stop(85.96%, #37AEE2));
    background-image: -o-linear-gradient(left, #1E96C8 15.07%, #37AEE2 85.96%);
    background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 19px;
    color: var(--main-bg-color);
}

.site-header__nav{
    background-color: var(--main-bg-color);
}

.site-header__nav-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 21px 25px 22px 24px;
    -webkit-box-shadow: 0px 2px 5px #9f9f9f30;
            box-shadow: 0px 2px 5px #9f9f9f30;
    border-radius: 5px
}

.site-header__nav-link{
    font-size: 19px;
    line-height: 23px;
    color: #515151;
}
/******************** Header styles end *******************/

/******************** Aside styles start *******************/
.site-aside{
    margin-bottom: 45px;
}

.site-aside__img{
    width: 100%;
    height: 99px;
}
/******************** Aside styles end *******************/

/******************** Main styles start *******************/
.site-main{
    background-color: #fff;
}

/* Covid section styles start */
.covid-section{
    margin-bottom: 18px;
}

.covid-info__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 30px;
    padding-right: 72px;
    padding-bottom: 29px;
    padding-left: 35px;
    width: 100%;
    background-color: var(--popular-news-bg-color);
    border-radius: 5px;
}

.covid-info__item{
    display: block;
    margin-right: 30px;
    background-image: url("../images/icons/icon-covid.svg");
    background-position: left center;
    background-repeat: no-repeat;
    content: "";
}

.covid-info__item:nth-child(1){
    width: 373px;
    border-right: 2px solid #EB5569;
}

.covid-info__item:nth-child(2){
    width: 291px;
    background-image: url("../images/icons/icon-infected.svg");
    padding-left: 58px;
    border-right: 2px solid #F4CCD1;
}

.covid-info__item:nth-child(3){
    width: 260px;
    background-image: url("../images/icons/icon-recovered.svg");
    padding-left: 58px;
    border-right: 2px solid #F4CCD1;
}

.covid-info__item:nth-child(4){
    width: 125px;
    background-image: url("../images/icons/icon-dead.svg");
    padding-left: 58px;
}

.covid-info__title{
    margin-left: 68px;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

.covid-info__subtitle{
    margin: 0 0 5px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.subtitle-color__red{
    color: #DB0000;
}

.subtitle-color__green{
    color: #05B135;
}

.subtitle-color__dark{
    color: #000;
}

.covid-info__number{
    margin: 0;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
}
/* Covid section styles end */

/* News section styles start */
.news-section{
    margin-bottom: 34px;
}

.news-section__list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.news-section__item{
    width: 386px;
    margin-bottom: 18px;
}

.news-section__title{
    font-size: 17px;
    line-height: 20px;
    color: var(--main-text-color);
}

.news-section__time{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6B6D97;    
}


/* News section styles end */
.notification-section {
    margin-bottom: 38px;
  }
  .notification-row {
    width: 100%;
    height: 91px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #efba542e;
    border-radius: 5px;
  }
  .notification-section__start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 34px;
  }
  .notification-section__icon {
    padding-right: 18px;
  }
  .notification-section__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
  }
  .notification-section__end {
    padding-right: 20px;
  }
  .notification-section__button {
    background: -webkit-gradient(
      linear,
      left top, right top,
      from(#fe5c28),
      color-stop(88.43%, rgba(255, 139, 54, 0.9))
    );
    background: -o-linear-gradient(
      left,
      #fe5c28 0%,
      rgba(255, 139, 54, 0.9) 88.43%
    );
    background: linear-gradient(
      90deg,
      #fe5c28 0%,
      rgba(255, 139, 54, 0.9) 88.43%
    );
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding: 8px 8px 8px 15px;
    color: var(--main-bg-color);
  }
  /****Notification end*****/
  ******************** Main styles end *******************/
  .section3_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 34px;
  
      width: 1200px;
      height: 91px;
  
  
      background: rgba(239, 186, 84, 0.18);
      border-radius: 5px;
  }
  
  
  .section3_wrapper_left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 34px;
  }
  
  .section3_wrapper_left h6 {
      margin-left: 17.25px;
      width: 610px;
      height: 26px;
  
  
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
  
      color: #000000;
  
  }
  
  .section3_wrapper_right {
  
      width: 264px;
      height: 42px;
  
      /* ss */
  
      background: -webkit-gradient(linear, left top, right top, from(#FE5C28), color-stop(88.43%, rgba(255, 139, 54, 0.9)));
  
      background: -o-linear-gradient(left, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
  
      background: linear-gradient(90deg, #FE5C28 0%, rgba(255, 139, 54, 0.9) 88.43%);
      border-radius: 5px;
      margin-right: 34px;
  }
  
  .section3_wrapper_right button {
  
      width: 291px;
      height: 26px;
      padding: 8px 25px 8px 8px;
      background: none;
      border: none;
  
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
  
      color: #FFFFFF;
  }
  
  /******************* main end *********************/
  
  /***************** main start****************/
  
  .section_wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 30vh;
  }
  
  .left__side {
      width: 70%;
  }
  
  .left__side h3 {
      margin-top: 38px;
      margin-bottom: 13px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
  
      color: #000000;
  
  }
  .card {
      margin-top: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  .card_rigth_side {
      margin-left: 19px;
  }
  
  .card_rigth_side h4 {
      width: 434px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 20px;
  
      color: #202020;
  }
  
  .card_rigth_side p {
      width: 400px;
      margin-top: 8px;
      margin-bottom: 12px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
  
      color: #434343;
  }
  
  .card_rigth_side time {
      width: 512px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
  
      color: #7688A4;
  }
  
  .card_rigth_side time::before {
      background-image: url('../images/icons/calendar.svg');
  }
  
  .right__side {
    padding: 16px 86px 18px 20px;

    margin-top: 46px;
    width: 386px;
    height: 542px;
    left: 933px;
    top: 1240px;
    
    background: #F6F6F9;
    border-radius: 5px;
  }
  
  .box h5 {
      width: 280px;
      margin-top: 16px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
  
      color: #202020;
  
  }
  
  .rigth__side_box_text {
      width: 347px;
      margin-top: 10px;
      margin-bottom: 11px;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #202020;
  }
  
  .box_time{
      width: 117px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
  
      color: #7688A4;
  
  }

  .site__line{
    margin: 6px auto;
    width: 346px;
    height: 4px;
    left: 953px;
    top: 1394px;
    
    background: #E4E4E4;
  }
  .card__desc{ 
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #434343;
  }
.card__title{
    margin-top: 18px;
    margin-bottom: 5px;
    width: 434px;
    height: 42px;
    font-size: 17px;
    line-height: 20px;
    
    color: #202020;
}
.card{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}
.card__time{
    width: 512px;
    height: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    
    color: #7688A4;
}
.site__section-img{
    margin-top: 60px;  
    border-radius: 5px;
}
/******************** Main styles end *******************/

/******************** Footer styles start *******************/



.site__footer{
    margin-top: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1200px;
    height: 214px;
    background: #F6F6F9;
    border-radius: 5px;
}
.footer__icon{
    padding: 82px 20px 82px;
    width: 384px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer__icon-img{
    margin: 0 19px 0 0;
}
/******************** footer styles end *******************/

